<div class="sidebar">

    <header class="brand">
    <div class="company-container">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
        <div class="email-container">
            {{widget('profile', 'header-email', { 'profileType':'email'})|raw}}
        </div>
    </header>

    <nav class="nav">
        {{widget('extendednavigation', 'header-nav', {"align":"center"})|raw}}
    </nav>

    <footer class="social">
        {{widget('profile', 'copyright', { 'profileType':'copyright'})|raw}}
    </footer>

</div>
